{% extends 'base.html' %}

{% block head %}

<header class="main-header">
	<div class="containerTop">
		<h1 class="mh-logo">
			<a href="/"><img src="/static/images/Logo_1.png" width="170" height="120" alt="Flexbox.ninja">
		</h1>
		<nav class="main-nav">
			<ul class="main-nav-list">
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

{% endblock %}

{% block body %}

<div class="topContainer">
    <div class="boxOne">
        <p class="title">Sentimental Analysis on the Top S&P500 companies</p>
        <p class="text">Generating trend analysis reports based on Neuro-linguistic Programming (“NLP”) classification and data in relationship with stock prices based on 10-Qs released since 2016 onwards.</p>
    </div>
    <div class="boxOne"><img src="/static/images/brainTree.png" class="BrainThree"></div></a>
</div>

<div class="TwelveBoxesContainer">
    <a class="box" href="/ADI"></a>
    <a class="box" href="/AMZN"></a>
    <a class="box" href="/GOOGL"></a>
    <a class="box" href="/AAPL"></a>
    <a class="box" href="/FB"></a>
    <a class="box" href="/PFE"></a>
    <a class="box" href="/TSLA"></a>
    <a class="box" href="/NFLX"></a>
    <a class="box" href="/XOM"></a>
    <a class="box" href="/PYPL"></a>
    <a class="box" href="/SBUX"></a>
    <a class="box" href="/ACN"></a>
    </a>
</div>

<footer class="footerBar">
	<div class="footerItem">© 2021. All Rights Reserved to Elizabeth Lim</div>
</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

<link rel="stylesheet" href="https://use.typekit.net/gct8mal.css">

{% endblock %}

